*

!/parts/script_picker.sh
!/parts/setup_git_bash.sh
!/parts/setup_history.sh
!/parts/setup_local_path.sh
!/parts/setup_no_sh_suffix.sh
!/parts/setup_run.sh
!/parts/source.sh
!/src.sh
!/gotag.sh
!/wipe_tags.sh
!/amend.sh
!/amenda.sh
!/rev.sh
!/pushl.sh
!/rebase.sh 
!/reseth.sh
!/resets.sh
!/log.sh
!/down.sh
!/wip.sh
!/abort.sh
!/continu.sh
!/.gitignore

!*/